.brand {
  margin-left: 12px;
}

.brand:hover {
  cursor: pointer;
}

.toggler {
  margin-right: 10px;
}

.nav {
  position: sticky;
  top: 0;
  transition: top 500ms ease-in-out;
}

.navlink {
  margin-left: 10px;
}

.scrollUp {
  top: 0;
}

.scrollDown {
  top: -100%;
}
