.container {
  padding: 20px;
}

.container input {
  max-width: 340px;
}

.infoAlert {
  max-width: 340px;
  margin-top: 10px;
}

.submitBtn {
  margin-top: 10px;
}

.formMsg {
  height: 100px;
}

.formWebsite {
  display: none;
}
