.pageContainer {
  margin: 0;
}

.jumbo {
  padding: 7px 0 12px 0;
  border-radius: 0;
  margin-bottom: 2rem;
  background-color: #e9ecef;
}

.projectContainer {
  text-align: center;
}

.projectContainer h2 {
  width: max-content;
  border-bottom: 1px solid black;
  margin: 30px auto 40px auto;
  padding-bottom: 4px;
}

.projectContainerRow {
  --bs-gutter-x: 0;
  justify-content: space-around;
}

.projectCard {
  margin-bottom: 14px;
  width: 260px;
  height: 260px;
  border-radius: 10rem;
  overflow: hidden;
}

.projectCard .card-header {
  padding-top: 30px;
}

@media (min-width: 576px) {
  .jumbo {
    padding: 4rem 2rem;
  }

  .projectContainer h2 {
    margin: 60px auto 20px auto;
  }

  .projectContainerRow {
    padding: 3rem 2rem;
  }
}

@media (min-width: 992px) {
  .jumbo {
    padding: 4rem 10rem;
  }
}
